<div class="container">
    <img class="img-schtroumf-1" src="../../../assets/icon-schtroumpf.svg" alt="" srcset="">
    <div class="card w-75">
        <div class="card-body">
            <div class="card-title">
                <h2>REGISTER</h2>
            </div>
            <div class="form">
                <form [formGroup]="myForm">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Login</label>
                        <input type="email" class="form-control" formControlName="login" placeholder="Enter Login" required>
                        <span style="color: red;" *ngIf="isValid('login')">Login is required !</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Password</label>
                        <input type="password" class="form-control" id="Password" formControlName="password" placeholder="Enter Password" required>
                        <span style="color: red;" *ngIf="isValid('password')">Password is required !</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" formControlName="cfpassword" placeholder="Confirm Password" required>
                        <span style="color: red;" *ngIf="isValid('cfpassword')">Enter the same password!</span>
                    </div>
                    <div class="btn-register">
                        <button type="submit" (click)="register()" class="btn btn-success register">REGISTER</button>
                    </div>
                    <div style="text-align: center; color: blue;">
                        {{successMessage}}
                    </div>
                </form>

                <div class="btn-login">
                    <div>Already have an account ?</div>
                    <div class="log">
                        <button [routerLink]="['/login']" class="btn btn-primary login">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="img-schtroumf-2" src="../../../assets/icon-schtroumpf.svg" alt="" srcset="">
</div>