.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    .card-title {
        display: flex;
        justify-content: center;
        margin: 0;
        font-family: 'Teko', sans-serif;
        color: rgb(0, 230, 0);
        font-size: 50px;
    }
    .form {
        line-height: 4em;
    }
    .img-schtroumf-1 {
        animation: spin 1s linear infinite;
        padding-top: 5em;
    }
    .img-schtroumf-2 {
        animation: spin 1s linear infinite;
        padding-bottom: 5em;
    }
    .btn-register {
        display: flex;
        justify-content: center;
        padding-top: 2em;
    }
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}