<app-navbar></app-navbar>
<div class="container">
    <div class="profil">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="profil-header-title">Profil</mat-card-title>
            </mat-card-header>
            <mat-card-content class="profil-content">
                <div class="profil-information login">
                    <h1>Login</h1>
                    ------>
                    <div class="info">
                        {{login}}
                    </div>
                </div>
                <div class="profil-information age">
                    <h1>Age</h1>
                    <div class="info">
                        {{age}}
                    </div>
                </div>
                <div class="profil-information family">
                    <h1>Family</h1>
                    <div class="info">
                        {{family}}
                    </div>
                </div>
                <div class="profil-information race">
                    <h1>Race</h1>
                    <div class="info">
                        {{race}}
                    </div>
                </div>
                <div class="profil-information food">
                    <h1>Food</h1>
                    <div class="info">
                        {{food}}
                    </div>
                </div>
                <div class="profil-information update">
                    <button class="btn btn-primary" (click)="openDialog('Update', {})">Update</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>