.profil {
    padding-top: 8em;
    &-header {
        width: 100%;
        &-title {
            display: flex;
            justify-content: center;
            font-size: 30px;
            font-family: "Teko", sans-serif;
            color: white;
            background-color: #64b5f5;
        }
    }
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &-information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}