.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    .form {
        line-height: 4em;
    }
    .img-schtroumf-1 {
        animation: spin 1s linear infinite;
        padding-top: 5em;
    }
    .img-schtroumf-2 {
        animation: spin 1s linear infinite;
        padding-bottom: 5em;
    }
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}