<div class="home">
    <div class="container">
        <div class="home-img">
            <img class="img-schtroumf-1" src="../../../assets/icon-schtroumpf.svg" alt="" srcset="">
            <h1>Welcome to Schtroumpf App</h1>

        </div>
        <div class="btn-redirection">
            <button class="login-btn" [routerLink]="['/login']">
        Login
    </button>
            <button [routerLink]="['/register']" class="register-btn">
        Register
    </button>
        </div>
    </div>
</div>