<h1 style="display: flex; justify-content:center;" mat-dialog-title><strong>{{action}}</strong> Row</h1>
<div mat-dialog-content>
    <form [formGroup]="myForm" class="box">
        <mat-form-field>
            <input placeholder="{{action}} Login" matInput [(ngModel)]="local_data.login" formControlName="login" maxlength="15">
        </mat-form-field>
        <mat-form-field>
            <input placeholder="{{action}} Password" matInput [(ngModel)]="local_data.password" formControlName="password">
        </mat-form-field>
        <div class="server-error btn-danger" *ngIf="serverErrorMessages">{{serverErrorMessages}}</div>
    </form>
</div>
<div mat-dialog-actions class="action-box">
    <button class="action-btn-1 btn btn-success" type="submit" (click)="doAction()">{{action}}</button>
    <button class="action-btn-2 btn btn-danger" (click)="closeDialog()">Cancel</button>
</div>