    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .full-width-table {
            width: 100%;
        }
        .list-of-friends {
            padding: 7em;
            width: 100% !important;
            height: 100% !important;
        }
        h5 {
            margin: 0;
            font-family: 'Teko', sans-serif;
            color: #64b5f5;
            font-size: 30px;
            margin-top: 1em;
        }
    }