    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .full-width-table {
            width: 100%;
        }
        .list-of-friends {
            padding: 7em;
            width: 100% !important;
            height: 100% !important;
            .btn {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .btn-add {
                    display: flex;
                    align-items: center;
                    background-color: #0d6efd;
                    border: none;
                    padding: 12px;
                    border-radius: 30px;
                    color: white;
                    outline: none;
                }
            }
        }
        h5 {
            margin: 0;
            font-family: 'Teko', sans-serif;
            color: #64b5f5;
            font-size: 30px;
            margin-top: 1em;
        }
    }