<app-navbar></app-navbar>
<div class="container">
    <div class="list-of-friends">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="full-width-table">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>id</th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> Age </th>
                    <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="family">
                    <th mat-header-cell *matHeaderCellDef> Family </th>
                    <td mat-cell *matCellDef="let element"> {{element.Family}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="food">
                    <th mat-header-cell *matHeaderCellDef> Food </th>
                    <td mat-cell *matCellDef="let element"> {{element.Food}} </td>
                </ng-container>
                <ng-container matColumnDef="race">
                    <th mat-header-cell *matHeaderCellDef> Race </th>
                    <td mat-cell *matCellDef="let element"> {{element.Race}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>